<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (C) 2017 The Android Open Source Project

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    xmlns:tools="http://schemas.android.com/tools" package="com.android.car.carlauncher" > <!--android:sharedUserId="android.uid.system"-->

    <!-- System permission to get app usage data -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-permission android:name="android.car.permission.CAR_SPEED" />
    <uses-permission android:name="android.car.permission.CAR_POWERTRAIN" />
    <uses-permission android:name="android.car.permission.CAR_PERMISSION_ENERGY" />


    <!-- System permission to get app usage data -->
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <!-- System permission to send events to hosted maps activity -->
    <uses-permission android:name="android.permission.INJECT_EVENTS"
            tools:ignore="ProtectedPermissions" />
    <!-- System permissions to bring hosted maps activity to front on main display -->
    <uses-permission android:name="android.permission.MANAGE_ACTIVITY_STACKS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <!-- System permission to host maps activity -->
    <uses-permission android:name="android.permission.ACTIVITY_EMBEDDING"
        tools:ignore="ProtectedPermissions" />
    <!-- System permission to control media playback of the active session -->
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"
        tools:ignore="ProtectedPermissions" />
    <!-- System permission to query users on device -->
    <uses-permission android:name="android.permission.MANAGE_USERS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.car.permission.ACCESS_CAR_PROJECTION_STATUS"/>



    <application
        android:icon="@drawable/ic_launcher_home"
        android:label="@string/app_title"
        android:theme="@style/Theme.Launcher">

        <activity
            android:name="com.example.myapplication.CarLauncher"
            android:configChanges="uiMode|mcc|mnc"
            android:resizeableActivity="true"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:resumeWhilePausing="true"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="nosensor">

            <meta-data android:name="distractionOptimized" android:value="true"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.myapplication.AppGridActivity"
            android:launchMode="singleInstance"
            android:noHistory="true">
            <meta-data android:name="distractionOptimized" android:value="true"/>
        </activity>






        <receiver android:name="androidx.media.session.MediaButtonReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
